.wrapper {
    width:1200px;
    margin:0 auto;
    background-color: gray;
    box-align:center;
    text-align:center;
    font-family:Sunflower;
}
@font-face {
    font-family:Sunflower;
    src:url(/font/BMHANNAAir.ttf) format('truetype');
}
html {
    background-image: url("../img/background.jpg");
    background-size:100%;
}
header{
    background-color: darkgoldenrod;
    width:100%;
    top:0;
    left:0;   
}
footer{
    background-color:darkgoldenrod;
    text-align:center;
    padding:40px;
}
img, input {
    vertical-align:middle; 
}
    
nav {
    display:inline-block;
}

#down-header{
    padding-top:5px;
    padding-bottom:5px;
    background-color:gray;
    
}
product-box {
    display:inline-block;
}
product-sell-status-select-box {
    width: 80px;
    height: 40px;
}
product-menu-name{
    display:inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
}
#down-header-left {
    display:inline-block;
    padding-right:30px;
}
#down-header-right{
    display:inline-block;
    vertical-align: middle;
    height:46px;
}

#header-logo {
    display : inline-block;
    padding-right:830px;
}
#receipe-upload-button {
    display : inline-block;
}
#receipe-upload-button:hover{
    transform-origin: right top;
    transform: scale(1.1);
    transition: all 1s;
    box-shadow: 5px 5px 3px black;
}
.upButtons:hover{
    transform-origin: right top;
    box-shadow: 3px 3px 3px black;
}
.button{
    padding: 0;
    border: 0;
    outline: 0;
}
#setting-button {
    display : inline-block;
}
#setting-button:hover{
    transform:rotate(720deg);
    transition: all 1s;
}
#mainbox {
    background-color:olive;
    display : inline-block;
    padding-bottom:40px;
    padding-right:40px;
    padding-left:40px;
    font-size:1.7rem;
    width:80%;
    text-align:left;
    vertical-align:middle;
}
#Nextbutton {
    display : inline-block;
    margin-top:30px;
    margin-left:400px;
}
.textfield{
    width : 954px;
    height: 174px;
    resize: none;
}
.textfield3{
    width: 458px;
    height: 40px;
    font-size: 1.5rem;
    text-align:center;
    text-decoration-color: gray;
}
.filefield{
    height: 100px;
    width:100%;
    resize: none;
}

.button{
    width: 100px;
    height: 35px;
}
.cookalone-text{
    color:darkolivegreen;
}
.name {
    margin-top:15px;
    margin-bottom:10px;
    text-align:left;
}
#small_logo{
    top:0;
    display : inline-block;
    vertical-align:top;
    margin-top:10px;   
}
.subbox{
    display: inline-block;
}
#receipeTitleTextfield{
    width: 100px;
    height: 35px;
}
.warning{
    color:darkred
}
#receipeTitleTextfield{
    width: 450px;
    height: 40px;
}
#contentsArea{
    height: 100px;
    width:296px;
    resize: none;
}
