<!doctype html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
    <link rel='stylesheet' type='text/css' th:href="@{/css/registerOne.css}">
</head>
<body>
<div class="wrapper">
    <th:block th:replace="fragments/header :: headerFragment"/>

    <div id="mainbox">
        <div id="small-logo"><img src="/images/small_logo.png" width="206" height="200"/></div>
        <form role="form" action="/user/join-form" th:object="${termsDto}" method="post">
            <div class="terms">

                <p class="join-proc-error-message" th:if="${#fields.hasErrors('termsAgreement')}"
                   th:errors="*{termsAgreement}">Incorrect</p>
                <input th:field="*{termsAgreement}" class="terms" type="checkbox"
                       th:class="${#fields.hasErrors('termsAgreement')}? 'terms fieldError': 'terms'"/>


                <strong>개인정보 수집 및 이용에 대한 안내와 <span class="cookalone-text">쿡 얼론</span> 약관에 모두 동의합니다.</strong></div>
            <hr>
            <div>
                <div class="terms"><input type="checkbox" name="checkbox2"/> <strong>개인정보 수집 및 이용에 대한 안내</strong></div>
                <div>
                        <textarea name="textarea" id="textarea1" cols="80" rows="5" readonly="readonly" disabled>
정보통신망법 규정에 따라 쿡 얼론에 회원 가입 신청하시는 분께 수집하는 개인정보의 항목, 개인 정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간을 안내 드리오니 자세히 읽은 후 동의 하여 주시기 바랍니다.

1. 수집하는 개인정보
이름 : 회원의 실명
성별 : 회원의 성별
생년월일 : 회원의 생년 월일

2. 개인 정보의 수집 및 이용목적
쿡얼론 시스템의 레시피 시스템 관련 인증 및 홈페이지를 만들기 위한 목적

3. 개인 정보의 보유 및 이용기간
회원이 쿡얼론 시스템에 가입해 있는 기간 동안 개인정보는 쿡 얼론 서버에 저장되며 이번 학기가 끝나거나 회원이 탈퇴를 진행하게 되면 개인정보도 제거 됩니다.
                        </textarea>
                </div>
            </div>
            <div>
                <div class="terms"><input type="checkbox" name="checkbox3"/> <strong><span
                        class="cookalone-text">쿡 얼론</span> 이용약관</strong></div>
                <div>
                        <textarea name="textarea2" id="textarea2" cols="80" rows="5" readonly="readonly" disabled>
여러분을 환영합니다. 

쿡 얼론을 이용해 주셔서 감사합니다. 본 약관은 쿡얼론의 이용과 관련하여 쿡얼론 서버를 제공하는 제공자와 이를 이용하는 쿡얼론 회원(이하 '회원')또는 비회원과의 관계를 설명하며, 아울러 여러분의 쿡얼론 이용에 도움이 될 수 있는 유익한 정보를 포함하고 있습니다.

쿡얼론 이용자는 회원과 비회원의 두 가지 경우가 있을 수 있으며 회원의 경우 레시피 업로드가 가능하며 비회원의 경우 레시피 열람이 가능합니다.




                        </textarea>
                </div>
            </div>
            <div>
                <Button class="NextbuttonLeft" type="submit"><img src="/images/registerOne/ok.jpg" width="120" height="60"
                                                          class="upButtons"/></Button>
                <div class="NextbuttonRight"><a href="/"><img src="/images/registerOne/c.jpg" width="120"
                                                                       height="60" class="upButtons"/></a></div>
            </div>
        </form>
    </div>

    <th:block th:replace="fragments/footer :: footerFragment"/>
</div>
</body>
</html>