<!doctype html>
<html xmlns:th="http:/www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
    <link rel='stylesheet' type='text/css' th:href="@{/css/registerTwo.css}">
</head>
<body>
<div class="wrapper">
    <th:block th:replace="fragments/header :: headerFragment"/>

    <form role="form" th:action="@{/auth/join-proc}" th:object="${userDto}" method="post"> <!-- 요청 전송 -->
        <div id="mainbox">
            <div><img src="/images/small_logo.png" width="206" height="200"/></div>
            <hr>
            <div>
                <div>
                    <div class="name">이메일(아이디)</div>
                    <input th:field="*{email}" type="text" class="textfield"
                           th:class="${#fields.hasErrors('email')}? 'textfield fieldError': 'textfield'"/>
                    <div class="name"><p class="proc-error-message" th:if="${#fields.hasErrors('email')}"
                                         th:errors="*{email}">Incorrect</p></div>
                </div>
                <hr>
                <div>
                    <div class="name">비밀번호</div>
                    <input th:field="*{password}" type="text" class="textfield"
                           th:class="${#fields.hasErrors('password')}? 'textfield fieldError': 'textfield'"/>
                    <div class="name"><p class="proc-error-message" th:if="${#fields.hasErrors('password')}"
                                         th:errors="*{password}">Incorrect</p></div>
                </div>
                <div>
                    <div class="name">비밀번호 확인</div>
                    <input name="textfield3" type="text" class="textfield"/>
                </div>
                <hr>
                <div>
                    <div class="name">닉네임</div>
                    <input th:field="*{nickname}" type="text" class="textfield"
                           th:class="${#fields.hasErrors('nickname')}? 'textfield fieldError': 'textfield'"/>
                    <div class="name"><p class="proc-error-message" th:if="${#fields.hasErrors('nickname')}"
                                         th:errors="*{nickname}">Incorrect</p></div>
                </div>
                <div>
                    <div class="name">이름</div>
                    <input th:field="*{username}" type="text" class="textfield"
                           th:class="${#fields.hasErrors('username')}? 'textfield fieldError': 'textfield'"/>
                    <div class="name"><p class="proc-error-message" th:if="${#fields.hasErrors('username')}"
                                         th:errors="*{username}">Incorrect</p></div>
                </div>
                <div>
                    <div class="name">생년월일</div>
                    <input th:field="*{birthDate}" type="text" class="textfield" placeholder="YYYYMMDD"
                           th:class="${#fields.hasErrors('birthDate')}? 'textfield fieldError': 'textfield'"/>
                    <div class="name"><p class="proc-error-message" th:if="${#fields.hasErrors('birthDate')}"
                                         th:errors="*{birthDate}">Incorrect</p></div>
                </div>
                <div>
                    <div class="name">성별</div>
                    <div class="personalInfoBox">
                        <select th:field="*{gender}" id="selectGen">
                            <option th:value="MALE">남자</option>
                            <option th:value="FEMALE">여자</option>
                        </select>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="name">주소(선택사항)</div>
                    <div class="personalInfoBox"><input th:field="*{city}" type="text" class="one-third-textfield"
                                                        placeholder="도시"/>
                    </div>
                    <div class="personalInfoBox"><input th:field="*{street}" type="text" class="one-third-textfield"
                                                        placeholder="거리"/>
                    </div>
                    <div class="personalInfoBox"><input th:field="*{zipcode}" type="number" placeholder="우편번호"
                                                        class="one-third-textfield"/></div>
                </div>
                <hr>
                <div class="Nextbutton">
                    <Button class="button" type="submit"><img src="/images/registerTwo/join.jpg" width="181" height="51"
                                                              class="upButtons"/></Button>
                </div>
            </div>
        </div>
        <th:block th:replace="fragments/footer :: footerFragment"/>
    </form>
</div>
</body>
</html>