<!doctype html>
<html xmlns:th="http:/www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
        <link rel='stylesheet' type='text/css' href='/css/registerTwo.css'>
    </head>
    <body>
        <div class ="wrapper">
            <th:block th:replace="fragments/header :: headerFragment" />

            <form role="form" action="/user/join-proc" th:object="${userDto}" method="post">
                <div id="mainbox">
                    <div><img src="/images/small_logo.png" width="206" height="200" /></div>
                    <hr>
                    <div>
                        <div class="name">이메일(아이디)</div>
<!--                        <span><input type="submit" name="idCheck" id="idCheck" value="중복체크" /></span>-->
                        <div><input th:field="*{email}" type="text"  class="textfield"/></div>
                        <!-- th:field : id와 name 자동으로 맞춰주는 타임리프 기능 th:field="*{email}"-->
                    </div>
                    <hr>
                    <div>
                        <div class="name">비밀번호</div>
                        <div ><input th:field="*{password}" type="text" class="textfield"/></div>
                    </div>
                    <div>
                        <div class="name">비밀번호확인</div>
                        <div><input name="textfield3" type="text" class="textfield"/></div>
                    </div>
                    <hr>
                    <div>
                        <div class="name">닉네임</div>
                        <div><input th:field="*{nickname}" type="text" class="textfield"/></div>
                    </div>
                    <div>
                        <div class="name">이름</div>
                        <div><input th:field="*{username}" type="text" class="textfield"/></div>
                    </div>
                    <div>
                        <div class="name">생년월일 (YYYYMMDD)</div>
                        <div><input th:field="*{birthDate}" type="number" class="textfield"/></div>
                    </div>
                    <div>
                        <div class="name">성별</div>
                        <div class="personalInfoBox">
                            <select th:field="*{gender}" id="selectGen">
                                <option th:value="MALE">남자</option>
                                <option th:value="FEMALE">여자</option>
                            </select>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <div class="name">주소 (도시, 거리, 우편번호) - 선택 </div>
                        <div class="personalInfoBox"><input th:field="*{city}" type="text" class="one-third-textfield"/></div>
                        <div class="personalInfoBox"><input th:field="*{street}" type="text" class="one-third-textfield"/></div>
                        <div class="personalInfoBox"><input th:field="*{zipcode}" type="number" class="one-third-textfield"/></div>
                    </div>
                    <hr>
                    <div class="Nextbutton"><Button class="button" type="submit"><img src="/images/registerTwo/join.jpg" width="181" height="51" class="upButtons"/></Button></div>

                </div>
                <th:block th:replace="fragments/footer :: footerFragment"/>
            </form>
        </div>
    </body>
</html>