<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
        <link rel='stylesheet' type='text/css' href='/css/receipeUpload.css'>
    </head>
    <body>
        <div class ="wrapper">
            <th:block th:replace="fragments/header :: headerFragment" />
            <div id="mainbox">
                <div>
                    <div id="small_logo"><img src="/images/small_logo.png" width="180" height="180" /></div>
                    <div class="subbox">
                        <div class="name"><strong>레시피 제목 <span class="warning">필수 작성 요망!</span></strong></div>
                        <div><input name="textfield" type="text" id="receipeTitleTextfield"/></div>
                        <span class="name">새로운 목차 추가하기</span>
                        <span><input type="submit" name="button" class="button" value="추가하기 "/></span>
                    </div>
                    <div class="subbox">
                        <div class="name"><strong>목차 편집 란</strong></div>
                        <div><textarea name="textarea" id="contentsArea" disabled></textarea></div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="subbox">
                        <div class="name"><strong>개요 [기본 목차] <span class="warning">필수 작성 요망!</span></strong></div>
                        <div><textarea name="textarea2" class="textfield"></textarea></div>
                    </div>
                    <div class="subbox">
                        <span><input type="file" name="fileField" id="fileField" /></span>
                        <div><textarea name="textarea5" class="filefield" disabled></textarea></div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="subbox">
                        <div class="name"><strong>재료 [기본 목차] <span class="warning">필수 작성 요망!</span></strong></div>
                        <div><textarea name="textarea2" class="textfield"></textarea></div>
                    </div>
                    <div class="subbox">
                        <span><input type="file" name="fileField" id="fileField" /></span>
                        <div><textarea name="textarea5" class="filefield" disabled></textarea></div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="subbox">
                        <div class="name"><strong>요리과정 [기본 목차] <span class="warning">필수 작성 요망!</span></strong></div>
                        <div><textarea name="textarea2" class="textfield"></textarea></div>
                    </div>
                    <div class="subbox">
                        <span><input type="file" name="fileField" id="fileField" /></span>
                        <div><textarea name="textarea5" class="filefield" disabled></textarea></div>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="subbox">
                        <div class="name"><strong>주의사항 [사용자 지정 목차]</strong></div>
                        <div><textarea name="textarea2" class="textfield"></textarea></div>
                    </div>
                    <div class="subbox">
                        <span><input type="file" name="fileField" id="fileField" /></span>
                        <div><textarea name="textarea5" class="filefield" disabled></textarea></div>
                    </div>
                </div>
                <hr>
                <div id="Nextbutton"><a href="index.html"><img src="/images/receipeUpload/upload.jpg" width="181" height="51" class="upButtons"/></a></div>
            </div>
            <th:block th:replace="fragments/footer :: footerFragment" />
        </div>
    </body>
</html>