<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
        <link rel='stylesheet' type='text/css' href='/css/receipe.css'>
    </head>
    <body>
        <div class ="wrapper">
            <th:block th:replace="fragments/header :: headerFragment" />
            <div id="mainbox">
                <div>
                    <div id="one-left">
                        <div id="receipe-title"><strong>참치 마요 덮밥</strong></div>
                        <div>한식퓨전/참치/참치 마요 덮밥</div>
                    </div>
                    <div id="one-right">
                        <form>
                            <label>
                                <input name="textfield3" type="text" id="textfield" value="요리 이름으로 직접 검색하기 " />
                                <input type="image" width="120" height="44" src="/images/secrch.PNG" alt="Search" class="upButtons">
                            </label>
                        </form>
                    </div>
                </div>
                <div>
                    <div id="two-left" ><Strong>목차</Strong><br/>
                        1. 개요<br/>
                        2. 재료<br/>
                        3. 요리 과정<br/>
                        4. 주의사항
                      </div>
                    <div id="two-right">
                        <div id="likeMsg">
                            <div><span class="bluetext"><strong>해당레시피의 추천수 1522개</strong></span></div>
                            <div><span class="bluetext"><strong>레시피가 마음에 드신다면 추천 버튼을 눌러주세요!</strong></span></div>
                        </div>
                        <div id="likeImage"><img src="/images/receipe/like.PNG" width="50" height="50" /></div>
                    </div>
                </div>
                <hr>
                <div>
                    <p><strong>1. 개요</strong> <br><br>
                        참치 마요 덮밥은 참지와 마요네즈만으로도 만들 수 있는 정말 간단하고 맛있는 음식입니다. 물론 이 레시피에서는 참치와 마요네즈 만으로 만들진 않습니다.
                    </p>
                </div>
                <hr>
                <div>
                    <p><strong>2. 재료</strong><br><br>
                        양파 1/2개, 참치통조림 1캔(100g), 마요네즈, 다진양파, 소금, 후추, 식용유, 계란, 간장, 맛술, 올리고당
                    </p>
                </div>
                <hr>
                <div>
                    <p><strong>3. 요리과정</strong> <br><br> 
                        1. 양파 1/2개와 참치에 마요네즈 3숟가락, 다진 양파 1숟가락, 소금 약간, 후추 약간을 넣고 섞는다. <br>
                        2. 식용유에 양파를 볶고 간장, 맛술, 올리고당 두 숟가락을 넣습니다.<br>
                        3. 밥 위에 계란 스크램블을 덮고 볶은 양파를 올린 후 참치와 마요네즈를 뿌리면 완성입니다.
                    </p>
                </div>
                <div>
                    <div class="receipe-image"><img src="/images/receipe/img1.PNG" width="350" height="300" /></div>
                    <div class="receipe-image"><img src="/images/receipe/img2.PNG" width="350" height="300" /></div>
                    <div class="receipe-image"><img src="/images/receipe/img3.PNG" width="350" height="300" /></div>
                </div>
                <hr>
                <div>
                    <p><strong>4. 동영상</strong><br><br>
                        해당 레시피는 동영상을 지원합니다.
                    </p>
                    <video width=100% height="500" controls>
                        <source src="/video/chamchimayo.mp4" type="video/mp4">
                    </video>
                    
                </div>
            </div>
            <th:block th:replace="fragments/footer :: footerFragment" />
        </div>
    </body>
</html>