<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
        <link rel='stylesheet' type='text/css' href='/css/receipeSearch.css'>
    </head>
    <body>
        <div class ="wrapper">
            <th:block th:replace="fragments/header :: headerFragment" />
        
            <div id="down-header">
                <div id="down-header-left">
                    <strong>ID :</strong>
                    <input name="textfield1" id="textfield1" type="text"/>
                    
                    <strong>PW :</strong>
                    <input name="textfield2" type="text" id="textfield2"/>
                    <a href="index.html"><img src="/images/login.PNG" width="70" height="33" class="upButtons"/></a>
                    <a href="register_one.html"><img src="/images/reg.PNG" width="86" height="33" class="upButtons"/></a>
                </div>
                <div id="down-header-right">
                    <form>
                        <label>
                          <input name="textfield3" type="text" id="textfield3" value="요리 이름으로 직접 검색하기"/>
                          <input type="image" width="120" height="44" src="/images/secrch.PNG" alt="Search" class="upButtons">
                        </label>
                      </form>
                </div>
            </div>
            <div id="mainBox">
                <div class="subBox">
                    <div class="boxTitle">
                        <div id="boxTitleImage">
                            <img src="/images/receipeSearch/conv_menu.png" alt="" width="120" height="60" />
                        </div>
                        <div id="boxTitleText"><strong>편의점 레시피 카테고리<br></strong>편의점 제품을 고르시면 관련 레시피를 보여드립니다.</div>
                    </div>
                    <div>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/ramen.png" width="129" height="125" /></div>
                            <div class="nameLabel-left">봉지라면</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/cupramen.png" width="129" height="125" /></div>
                            <div class="nameLabel-left">컵 라면</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/samgakgimbab.png" width="129" height="125" /></div>
                            <div class="nameLabel-left">삼각 김밥</div>
                        </span>
                    </div>
                    <div>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/twindosirak.png" width="129" height="125" /></div>
                            <div class="nameLabel-left">트윈 도시락</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/chickendosirak.png" width="129" height="125" /></div>
                            <div class="nameLabel-left">치킨 도시락</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/bodae.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">모듬햄 부대찌개</div>
                        </span>
                    </div>
                    <div>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/gangang.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">콘 스낵</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/bulbuk.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">불고기 버거</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/chickenburger.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">치킨 버거</div>
                        </span>
                    </div>
                    <div>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/tongtong.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">매콤 통통</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/parpe.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">파르페</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/milk.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">흰 우유</div>
                        </span>
                    </div>
                    <div>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/pring.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">프링글스</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/pie.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">딸기 파이</div>
                        </span>
                        <span class="left-category-image">
                            <div><img src="/images/receipeSearch/ice.jpg" width="129" height="125" /></div>
                            <div class="nameLabel-left">눈의 정원</div>
                        </span>
                    </div>
                </div>
                <div class="subBox">
                    <div class="boxTitle">
                        <div class="boxTitleText"><strong>"편의점 레시피"</strong> 관련 레시피</div>
                    </div>
                    <div>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/conv.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">만두 곰탕</div>
                        </span>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/tuck.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">떡볶이 리조또</div>
                        </span>
                    </div>
                    <div>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/gamja.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">치즈 감자그라탕</div>
                        </span>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/geti.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">크림 게티</div>
                        </span>
                    </div>
                    <div>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/buldakgeti.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">불닭 게티</div>
                        </span>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/cheesesundae.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">불닭 볶음 순대</div>
                        </span>
                    </div>
                    <div>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/dodo.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">도도한치즈나쵸</div>
                        </span>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/eggmoney.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">에그머니빵</div>
                        </span>
                    </div>
                    <div>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/ben.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">벤쯔 정식</div>
                        </span>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/blueremon.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">블루레몬</div>
                        </span>
                    </div>
                    <div>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/gatoyanna.PNG" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">가또아냐</div>
                        </span>
                        <span class="right-category-image">
                            <div><a href="receipe_check.html"><img src="/images/receipeSearch/together.jpg" width="230" height="100"/></a></div>
                            <div class="nameLabel-right">투게오레오</div>
                        </span>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/footer :: footerFragment" />
        </div>
    </body>
</html>