<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
        <link rel='stylesheet' type='text/css' href='/css/receipeCheck.css'>
    </head>
    <body>
        <div class ="wrapper">
            <th:block th:replace="fragments/header :: headerFragment" />
            <div id="mainbox">
                <div>
                    <div id="one-left">
                        <div id="receipe-title"><strong>마약계란토스트</strong></div>
                        <div>일상/토스트/가장 반한 토스트</div>
                    </div>
                    <div id="one-right">
                        <form>
                            <label>
                            <input name="textfield3" type="text" id="textfield" value="요리 이름으로 직접 검색하기" />
                            <input type="image" width="120" height="44" src="/images/secrch.PNG" alt="Search" class="upButtons">
                            </label>
                        </form>
                    </div>
                </div>
                <div>
                    <div id="two-left" ><Strong>목차</Strong><br/>
                        1. 개요<br/>
                        2. 재료<br/>
                        3. 요리 과정<br/>
                        4. 주의사항
                      </div>
                    <div id="two-right">
                        <div><strong>검수 레시피</strong></div>
                        <div>이 레시피는 레시피 검수 투표중 입니다.<br/>
                            레시피에 큰 문제점이 없다면 찬성에 체크를 해주세요.<br/>
                            검수가 끝난 후 추천 기능이 활성화 됩니다.
                        </div>
                        <span><input type="radio" name="chanban" value="Agree"/>업로드 찬성</span>
                        <span><input type="radio" name="chanban" value="Oppose" />업로드 반대</span>
                    </div>
                </div>
                <hr>
                <div>
                    <p><strong>1. 개요</strong> <br><br>
                         마약계란 토스트는 달콤 짭조름한 맛이 마약같다고 하여 붙여진 이름으로 간식이나 브런치로 쉽게 먹을 수 있는 음식입니다.
                    </p>
                </div>
                <hr>
                <div>
                    <p><strong>2. 재료</strong><br><br>
                        식빵, 마요네즈, 계란 1알, 파슬리가루, 설탕
                    </p>
                </div>
                <hr>
                <div>
                    <p><strong>3. 요리과정</strong> <br><br> 
                        1. 식빵에 마요네즈를 전체적으로 발라준 뒤, 설탕을 뿌려준다.<br>
                        2. 식빵 테두리를 따라서 마요네즈를 뿌려준다. 이에 빵 가운데에 계란을 넣고 소금, 설탕, 파슬리 가루를 뿌린다.<br>
                        3. 180도로 예열된 오븐에서 10분 ~ 15분 또는 전자레인지에서 2 ~ 3분 정도 구워 주면 완성된다.
                    </p>
                </div>
                <div>
                    <div class="receipe-image"><img src="/images/receipeCheck/egg1.PNG" width="350" height="350" /></div>
                    <div class="receipe-image"><img src="/images/receipeCheck/egg2.PNG" width="350" height="350" /></div>
                    <div class="receipe-image"><img src="/images/receipeCheck/egg3.PNG" width="350" height="350" /></div>
                </div>
                <hr>
                <div>
                    <p><strong>4. 주의사항</strong><br><br>
                        식빵은 우유식빵을 사용하는 것이 맛이 좋습니다.
                    </p>
                </div>
            </div>
            <th:block th:replace="fragments/footer :: footerFragment" />
        </div>
    </body>
</html>