<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
    <link rel='stylesheet' type='text/css' href='/css/receipeSearch.css'>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="fragments/main_header :: mainHeaderFragment"/>
    <div id="mainBox">

        <div class="boxTitle">
            <select name="category-select-box" class="category-select-box">
                <option>편의점 레시피</option>
                <option>양식 레시피</option>
                <option>한식 레시피</option>
                <option>일식 레시피</option>
                <option>중식 레시피</option>
            </select>
        </div>
        <div>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/conv.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">만두 곰탕</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/tuck.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">떡볶이 리조또</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/gamja.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">치즈 감자그라탕</div>
            </span>
        </div>
        <div>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/buldakgeti.PNG"
                                                       width="330" height="200"/></a></div>
                <div class="nameLabel-right">불닭 게티</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/cheesesundae.PNG"
                                                       width="330" height="200"/></a></div>
                <div class="nameLabel-right">불닭 볶음 순대</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/geti.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">크림 게티</div>
            </span>
        </div>
        <div>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/dodo.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">도도한치즈나쵸</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/eggmoney.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">에그머니빵</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/ben.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">벤쯔 정식</div>
            </span>
        </div>
        <div>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/blueremon.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">블루레몬</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/gatoyanna.PNG" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">가또아냐</div>
            </span>
            <span class="right-category-image">
                <div><a href="receipe_check.html"><img src="/images/receipeSearch/together.jpg" width="330"
                                                       height="200"/></a></div>
                <div class="nameLabel-right">투게오레오</div>
            </span>
        </div>
    </div>
    <th:block th:replace="fragments/footer :: footerFragment"/>
</div>
</body>
</html>