<!doctype html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
    <link rel='stylesheet' type='text/css' href='/css/receipeSearch.css'>
</head>
<body>
<div class="wrapper">
    <th:block th:replace="fragments/main_header :: mainHeaderFragment"/>
    <div id="mainBox">
        <div class="left-searchbox">
            <nav style="text-align: center;">
                <div class="pagination"
                     th:with="start=${T(java.lang.Math).floor(receipes.number/10)*10 + 1},
                    last=(${start + 9 < receipes.totalPages ? start + 9 : receipes.totalPages})">
                    <div class="paging-button">
                        <a th:href="@{/receipe/searchform(page=1)}" aria-label="First">
                            <img aria-hidden="true" src="/img/receipeSearch/first-arrow.png" width="45" height="45"
                                 class="upButtons"/>
                        </a>
                    </div>

                    <div class="paging-button">
                        <div th:class="${receipes.first} ? 'disabled'">
                            <a th:href="${receipes.first} ? '#' :@{/receipe/searchform(page=${receipes.number})}"
                               aria-label="Previous">
                                <img aria-hidden="true" src="/img/receipeSearch/left-arrow.png" width="45"
                                     height="45" class="upButtons"/>
                            </a>
                        </div>
                    </div>

                    <div class="paging-button">
                        <div th:each="page: ${#numbers.sequence(start, last)}"
                             th:class="${page == receipes.number + 1} ? 'active'">
                            <a th:text="${page}" th:href="@{/receipe/searchform(page=${page})}"></a>
                        </div>
                    </div>

                    <div class="paging-button">
                        <div th:class="${receipes.last} ? 'disabled'">
                            <a th:href="${receipes.last} ? '#' : @{/receipe/searchform(page=${receipes.number + 2})}"
                               aria-label="Next">
                                <img aria-hidden="true" src="/img/receipeSearch/right-arrow.png" width="45"
                                     height="45" class="upButtons"/>
                            </a>
                        </div>
                    </div>

                    <div class="paging-button">
                        <a th:href="@{/receipe/searchform(page=${receipes.totalPages})}" aria-label="Last">
                            <img aria-hidden="true" src="/img/receipeSearch/last-arrow.png" width="45" height="45"
                                 class="upButtons"/>
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="right-searchbox">
            <select name="category-select-box" class="category-select-box">
                <option>모든 레시피</option>
                <option>편의점 레시피</option>
                <option>양식 레시피</option>
                <option>한식 레시피</option>
                <option>일식 레시피</option>
                <option>중식 레시피</option>
            </select>
        </div>
        <hr>
        <div class="subbox">
            <span th:each="item : ${receipes}" class="right-category-image">
                <div><img src="/img/receipeSearch/conv.PNG" width="330"
                          height="200"/></div>
                <a th:href="@{'/receipe/' + ${item.id}}">
                    <div th:text="${item.title}" class="nameLabel-right"></div>
                </a>
            </span>
        </div>
    </div>
    <th:block th:replace="fragments/footer :: footerFragment"/>
</div>
</body>
</html>