<!doctype html>
<html>
    <head>
        </style>
        <meta charset="utf-8">
        <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
        <link rel='stylesheet' type='text/css' href='/css/setting.css'>
    </head>
    <body>
        <div class ="wrapper">
            <th:block th:replace="fragments/header :: headerFragment" />
            <div id="mainbox">
                <div>
                    <span><img src="/images/small_logo.png" width="180" height="180" /></span>
                    <span id="mainTitle"><span class="cookalone-text"><strong>쿡 얼론</strong></span> <strong>설정 창</strong></span> 
                    <span><a href="index.html"><img src="/images/setting/x.jpg" width="50" height="60" class="upButtons"/></a></span>
                </div>
                <hr>
                <div>
                    <div id="field1">구분선 감추기</div>
                    <span><input type="checkbox" name="checkbox" id="checkbox" /></span>
                    <div>
                        <div id="field2">구분선 색상</div>
                        <span>
                            <select name="select4" class="select">
                                <option>black</option>
                                <option>blue</option>
                                <option>yellow</option>
                                <option>pink</option>    
                            </select>
                        </span>
                    </div>
                </div>
                <hr>
                <div>
                    <div>
                        <div id="field3">글꼴</div>
                        <span>
                            <select name="select" class="select">
                                <option>나눔서체</option>
                                <option>굴림</option>
                                <option>돋움</option>
                            </select>
                        </span>
                    </div>
                    <div>
                        <div id="field4">글자 크기</div>
                        <span>
                            <select name="select2" class="select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                            </select>
                        </span>
                    </div>
                </div>
                <hr>
                <div>
                    <div id="field5">이미지 감추기</div>
                    <span><input type="checkbox" name="checkbox2" id="checkbox2"/></span>
                </div>
                <div>
                    <div id="field6">gif 파일 재생하지 않기</div>
                    <span><input type="checkbox" name="checkbox3" id="checkbox3" /></span>
                </div>
                <hr>
                <div id="field7">다크 테마 사용</div>
                <span><input type="checkbox" name="checkbox4" id="checkbox4" /></span>
            </div>
            <th:block th:replace="fragments/footer :: footerFragment" />
        </div>
    </body>
</html>