<!doctype html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>함께 만들어가는 레시피 북 - 쿡 얼론</title>
    <link rel='stylesheet' type='text/css' th:href="@{/css/receipeUpload.css}">
</head>
<body>
<div class="wrapper">
    <th:block th:replace="fragments/header :: headerFragment"/>
    <!--    multipart/form-data : form 요소가 파일이나 이미지를 서버로 전송할 때, 주요 사용-->
    <form role="form" th:action="@{/receipe/create}" th:object="${receipeRequestDto}" method="post"
          enctype="multipart/form-data">
        <div id="mainbox">
            <div>
                <div id="small_logo"><img src="/images/small_logo.png" width="180" height="180"/></div>
                <div class="subbox">
                    <div class="name"><strong>레시피 제목 <span class="warning">필수 작성</span></strong></div>
                    <div><input th:field="*{title}" type="text" class="textfield3"/></div>
                </div>
                <div class="subbox">
                    <span><input type="file" class="form-control" name="imgFile"></span>

                </div>
            </div>
            <hr>
            <div>
                <div class="subbox">
                    <div class="name"><strong>레시피 개요 <span class="warning">필수 작성</span></strong></div>
                    <div><textarea th:field=*{summaryContent} class="textfield"></textarea></div>
                </div>
            </div>
            <hr>
            <div>
                <div class="subbox">
                    <div class="name"><strong>레시피 재료 <span class="warning">필수 작성</span></strong></div>
                    <div><textarea th:field=*{materialContent} class="textfield"></textarea></div>
                </div>
            </div>
            <hr>
            <div>
                <div class="subbox">
                    <div class="name"><strong>요리과정 <span class="warning">필수 작성</span></strong></div>
                    <div><textarea th:field=*{cookingProcessContent} class="textfield"></textarea></div>
                </div>
            </div>
            <hr>
            <div>
                <div class="subbox">
                    <div class="name"><strong>요리 이미지</strong></div>
                    <span><input type="file" class="form-control" name="imgFile"></span>
                </div>
            </div>
            <!--            <hr>-->
            <!--            <div>-->
            <!--                <div class="subbox">-->
            <!--                    <div class="name"><strong>주의사항 [사용자 지정 목차]</strong></div>-->
            <!--                    <div><textarea th:field=*{cautionContent} class="textfield"></textarea></div>-->
            <!--                </div>-->
            <!--                <div class="subbox">-->
            <!--                    <span><input type="file" name="fileField" id="fileField4"/></span>-->
            <!--                    <div><textarea name="textarea5" class="filefield" disabled></textarea></div>-->
            <!--                </div>-->
            <!--            </div>-->
            <hr>
            <div id="Nextbutton">
                <Button class="button" type="submit"><img src="/images/receipeUpload/upload.jpg" width="181"
                                                          height="51" class="upButtons"/></Button>
            </div>
        </div>
    </form>
    <th:block th:replace="fragments/footer :: footerFragment"/>
</div>
</body>
</html>