<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
    <th:block th:fragment="mainHeaderFragment">
        <header>
            <div id="header-logo">
                <a href="/"><img src="/images/header_logo.png" width=350 height=95 /></a>
            </div>
            <nav>
                <div id="receipe-upload-button"><a href="/receipe/writeform"><img src="/images/receipe_upload.PNG" width=133 height=32/></a></div>
                <div id="setting-button"><a href="setting.html"><img src="/images/setting.png" width=75 height=73/></a></div>
            </nav>
        </header>
    </th:block>
</html>