.wrapper {
    width:1200px;
    margin:0 auto;
    background-color: gray;
    box-align:center;
    text-align:center;
    font-family:Sunflower;
}
@font-face {
    font-family:Sunflower;
    src:url(/font/Sunflower-Light.ttf) format('truetype');
}
html {
    background-image: url("../images/background.jpg");
    background-size:100%;
}
header{
    background-color: darkgoldenrod;
    width:100%;
    top:0;
    left:0;   
}
footer{
    background-color:olive;
    text-align:center;
    padding:40px;
}
img, input {
    vertical-align:middle; 
}
    
nav {
    display:inline-block;
}
#mainbox {
    display : inline-block;
    padding-bottom:40px;
    padding-right:40px;
    padding-left:40px;
    font-size:1.7rem;
    width:90%;
    text-align:left;
    vertical-align:middle;
}
#textfield{
    width: 450px;
    height: 40px;
    font-size: 1.5rem;
    text-align:center;
    text-decoration-color: gray;
   
}

#one-left {
    display:inline-block;
    padding-right:30px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:130px;
}
#one-right{
    display:inline-block;
    vertical-align: middle;
    height:46px;
    margin-bottom:10px;
    vertical-align: top;
}
#two-left {
    background-color: darkgray;
    display:inline-block;
    border-style:double;
    padding-top:20px;
    padding-bottom:20px;
    padding-right: 30px;
    padding-left:30px;
}
#two-right {
    background-color: darkgray;
    display:inline-block;
    border-style:double;
    margin-left: 226px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right: 30px;
    padding-left:30px;
}
.receipe-image {
    display:inline-block;
}
#receipe-title {
    font-size: 2.5rem;
}

#header-logo {
    display : inline-block;
    padding-right:600px;
}
#receipe-upload-button {
    display : inline-block;
}
#receipe-upload-button:hover{
    transform-origin: right top;
    transform: scale(1.1);
    transition: all 1s;
    box-shadow: 5px 5px 3px black;
}
.upButtons:hover{
    transform-origin: right top;
    box-shadow: 3px 3px 3px black;
}
#setting-button {
    display : inline-block;
}
#setting-button:hover{
    transform:rotate(720deg);
    transition: all 1s;
}

.cookalone-text{
    color:darkolivegreen;
}